.notification {
  width: auto;
  left: 30px;
  bottom: 30px;
  font-weight: 700;
  font-size: 1em;
  color: var(--color-white);
  position: fixed;
  z-index: 11;
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  .message {
    // background-color: var(--color-notification-type);
    display: flex;
    align-items: center;
    padding: 0px 10px;
    position: relative;
    background-color: var(--color-background-4);
    padding: 10px 0px 10px 10px;
    font-size: 0.9em;
    border-left: 6px solid var(--color-notification-type);
    margin-top: 6px;
    box-shadow: var(--bs-lg);

    --color-notification-type: var(--color-tertiary-1);
    &.success {
      --color-notification-type: var(--color-success);
    }
    &.warning {
      --color-notification-type: var(--color-warning);
    }
    &.failure {
      --color-notification-type: var(--color-failure);
    }
    .material-icons {
      vertical-align: middle;
      // font-size: 50px;
    }

    .message-icon {
      margin-right: 8px;
      // color: var(--color-notification-type);
    }

    .message-action {
      cursor: pointer;
      color: var(--color-foreground-2);
      .material-icons {
        font-size: 16px;
        margin: 0px 10px;
      }
      &:hover {
        color: var(--color-foreground-1);
      }
    }
  }

  .message-icon {
    &.running {
      .material-icons {
        animation: rotating 2s linear infinite;
      }
    }
  }

  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  &.show {
    transition: transform 0.5s;
    transform: translateX(0px);
  }

  &.hide {
    transition: transform 0.5s;
    transform: translateX(-150vw);
    // background-color: var(--color-foreground-2);
  }
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%;
}

.lds-dual-ring {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid var(--color-primary-1);
  border-color: var(--color-primary-1) transparent var(--color-primary-1)
    transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-roller {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-primary-1);
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-facebook {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: var(--color-primary-1);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}
