.edit-bill-page {
}

.edit-schedule-receipt-page__main {
  display: grid;
  grid-auto-flow: row;
  // row-gap: 20px;
  margin-bottom: calc(var(--footer-height) + 40px);
}

.edit-schedule-receipt-page__main__receipt,
.edit-schedule-receipt-page__main__items {
}
