.tile-section-item-view {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  row-gap: 4px;
}

.tile-section-item-view__title {
  // font-size: 16px;
  // font-weight: 600;
}

.tile-section-item-view__data {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
}

.tile-section-item-view__data__right {
  // font-size: 18px;
  // font-weight: 600;
}

.tile-section-item-view__data__left {
  background-color: var(--theme-white-200);
  padding: 6px 0px;
  border-radius: 6px;
  width: 70px;
  display: flex;
  justify-content: center;
}

.basicui-dark .tile-section-item-view__data__left {
  background-color: var(--theme-black-50);
}