.manage-category {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.manage-category__kakeibo {
  margin-bottom: 10px;
}

.manage-category__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
