.site-settings {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.site-settings__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-end;
}
.site-settings__image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}
.site-settings__image__logo {
  // max-width: 200px;
}
.site-settings__background {
}
