.basicui-light {
    --basicui-formelement-background-color: var(--theme-white-300);
    --basicui-formelement-border-color: var(--theme-white-300);
    --basicui-formelement-background-color-hover: var(--theme-white-300);
    --basicui-formelement-border-color-hover: var(--theme-primary-transparent-200);
    --basicui-formelement-background-color-active: var(--theme-white-300);
    --basicui-formelement-border-color-active: var(--theme-primary-transparent-400);
}

.basicui-dark {
    --basicui-formelement-background-color: var(--theme-black-50);
    --basicui-formelement-border-color: var(--theme-black-50);
    --basicui-formelement-background-color-hover: var(--theme-black-50);
    --basicui-formelement-border-color-hover: var(--theme-primary-transparent-200);
    --basicui-formelement-background-color-active: var(--theme-black-50);
    --basicui-formelement-border-color-active: var(--theme-primary-transparent-400);
}

.writeup-light {
    --writeup-background-color: var(--theme-white-200);
}
.writeup-dark {
    --writeup-background-color: var(--theme-black-300);
}

.writeup-light table, .writeup-light table th, .writeup-light table td,
.writeup-dark table, .writeup-dark table th, .writeup-dark table td {
    border: none;
}

* {
    --basicui-formelement-font-weight: 300;
    --basicui-formelement-font-size: 1rem;
    --writeup-background-color: var(--basicui-formelement-background-color);
}