.bouncing-dots {
  position: absolute;
  z-index: 99;
  left: calc(50% - 50px);
  top: 50%;

  width: 100px;
  display: flex;
  justify-content: center;

  div {
    width: 18px;
    height: 18px;
    margin: 0 4px;
    background-color: var(--color-1);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bouncing-dots--one {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bouncing-dots--two {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
