* {
  --oak-app-layout-sidebar-width: 250px;
  --oak-app-layout-topbar-height: 40px;
}

* .theme_dark {
  --oak-app-layout-sidebar-bg: #223843;
  --oak-app-layout-sidebar-fg: var(--color-1);
  --oak-app-layout-topbar-bg: #191d32;
  --oak-app-layout-topbar-fg: var(--color-1);
}
* .theme_light {
  --oak-app-layout-sidebar-bg: #eff1f3;
  --oak-app-layout-sidebar-fg: var(--color-1);
  --oak-app-layout-topbar-bg: #eff1f3;
  --oak-app-layout-topbar-fg: var(--color-1);
}
