* {
  --oak-padding-horizontal0: 0px;
  --oak-padding-horizontal1: 4px;
  --oak-padding-horizontal2: 8px;
  --oak-padding-horizontal3: 12px;
  --oak-padding-horizontal4: 16px;
  --oak-padding-horizontal5: 20px;
  --oak-padding-horizontal6: 24px;
  --oak-padding-horizontal7: 28px;
  --oak-padding-horizontal8: 32px;
  --oak-padding-horizontal9: 36px;
  --oak-padding-horizontal10: 40px;

  --oak-padding-vertical0: 0px;
  --oak-padding-vertical1: 4px;
  --oak-padding-vertical2: 8px;
  --oak-padding-vertical3: 12px;
  --oak-padding-vertical4: 16px;
  --oak-padding-vertical5: 20px;
  --oak-padding-vertical6: 24px;
  --oak-padding-vertical7: 28px;
  --oak-padding-vertical8: 32px;
  --oak-padding-vertical9: 36px;
  --oak-padding-vertical10: 40px;

  --oak-gutter-bottom: 16px;
}
