* {
  --color-global-darkmode: #141b2d;
  --color-global-lightmode: #fbfcfd;
  .theme_dark {
    // Grey color schemes for background and foreground text
    --color-1: #ffffff;
    --color-2: #e4e4e4;
    --color-3: #d4d4d4;
    // Variables that control the theme colors
    --color-global: #141b2d;
    --color-global-i: #fcfcfc;
    --color-global-darker: #212c49;
    --color-global-darker-i: #fcfcfc;
    --color-global-lighter: #070a11;
    --color-global-lighter-i: #fcfcfc;
    --color-global-dark: #1a233b;
    --color-global-dark-i: #fcfcfc;
    --color-global-light: #0e131f;
    --color-global-light-i: #fcfcfc;
    --color-global-transparent: rgba(20, 27, 45, 0.1);
    --color-global-transparent-i: #fcfcfc;
    --color-global-semitransparent1: rgba(20, 27, 45, 0.2);
    --color-global-semitransparent1-i: #fcfcfc;
    --color-global-semitransparent2: rgba(20, 27, 45, 0.5);
    --color-global-semitransparent2-i: #fcfcfc;
    --color-container: #1f2940;
    --color-container-i: #fcfcfc;
    --color-container-darker: #2c3b5b;
    --color-container-darker-i: #fcfcfc;
    --color-container-lighter: #121724;
    --color-container-lighter-i: #fcfcfc;
    --color-container-dark: #26324e;
    --color-container-dark-i: #fcfcfc;
    --color-container-light: #182032;
    --color-container-light-i: #fcfcfc;
    --color-container-transparent: rgba(31, 41, 64, 0.1);
    --color-container-transparent-i: #fcfcfc;
    --color-container-semitransparent1: rgba(31, 41, 64, 0.2);
    --color-container-semitransparent1-i: #fcfcfc;
    --color-container-semitransparent2: rgba(31, 41, 64, 0.5);
    --color-container-semitransparent2-i: #fcfcfc;
    --color-surface: #2b3858;
    --color-surface-i: #fcfcfc;
    --color-surface-darker: #384973;
    --color-surface-darker-i: #fcfcfc;
    --color-surface-lighter: #1e273d;
    --color-surface-lighter-i: #fcfcfc;
    --color-surface-dark: #324166;
    --color-surface-dark-i: #fcfcfc;
    --color-surface-light: #242f4a;
    --color-surface-light-i: #fcfcfc;
    --color-surface-transparent: rgba(43, 56, 88, 0.1);
    --color-surface-transparent-i: #fcfcfc;
    --color-surface-semitransparent1: rgba(43, 56, 88, 0.2);
    --color-surface-semitransparent1-i: #fcfcfc;
    --color-surface-semitransparent2: rgba(43, 56, 88, 0.5);
    --color-surface-semitransparent2-i: #fcfcfc;
    --color-float: #36466d;
    --color-float-i: #fcfcfc;
    --color-float-darker: #445888;
    --color-float-darker-i: #fcfcfc;
    --color-float-lighter: #283452;
    --color-float-lighter-i: #fcfcfc;
    --color-float-dark: #3d4f7b;
    --color-float-dark-i: #fcfcfc;
    --color-float-light: #2f3d5f;
    --color-float-light-i: #fcfcfc;
    --color-float-transparent: rgba(54, 70, 109, 0.1);
    --color-float-transparent-i: #fcfcfc;
    --color-float-semitransparent1: rgba(54, 70, 109, 0.2);
    --color-float-semitransparent1-i: #fcfcfc;
    --color-float-semitransparent2: rgba(54, 70, 109, 0.5);
    --color-float-semitransparent2-i: #fcfcfc;
    --color-primary: #88ddff;
    --color-primary-i: #0f0f0f;
    --color-primary-darker: #b1e9ff;
    --color-primary-darker-i: #0f0f0f;
    --color-primary-lighter: #5fd1ff;
    --color-primary-lighter-i: #0f0f0f;
    --color-primary-dark: #9ce3ff;
    --color-primary-dark-i: #0f0f0f;
    --color-primary-light: #74d7ff;
    --color-primary-light-i: #0f0f0f;
    --color-primary-transparent: rgba(136, 221, 255, 0.1);
    --color-primary-transparent-i: #0f0f0f;
    --color-primary-semitransparent1: rgba(136, 221, 255, 0.2);
    --color-primary-semitransparent1-i: #0f0f0f;
    --color-primary-semitransparent2: rgba(136, 221, 255, 0.5);
    --color-primary-semitransparent2-i: #0f0f0f;
    --color-secondary: #d9ae5f;
    --color-secondary-i: #0f0f0f;
    --color-secondary-darker: #e1bf80;
    --color-secondary-darker-i: #0f0f0f;
    --color-secondary-lighter: #d19d3e;
    --color-secondary-lighter-i: #0f0f0f;
    --color-secondary-dark: #ddb66f;
    --color-secondary-dark-i: #0f0f0f;
    --color-secondary-light: #d5a64e;
    --color-secondary-light-i: #0f0f0f;
    --color-secondary-transparent: rgba(217, 174, 95, 0.1);
    --color-secondary-transparent-i: #0f0f0f;
    --color-secondary-semitransparent1: rgba(217, 174, 95, 0.2);
    --color-secondary-semitransparent1-i: #0f0f0f;
    --color-secondary-semitransparent2: rgba(217, 174, 95, 0.5);
    --color-secondary-semitransparent2-i: #0f0f0f;
    --color-tertiary: #3abead;
    --color-tertiary-i: #0f0f0f;
    --color-tertiary-darker: #56cbbc;
    --color-tertiary-darker-i: #0f0f0f;
    --color-tertiary-lighter: #309f91;
    --color-tertiary-lighter-i: #0f0f0f;
    --color-tertiary-dark: #46c6b6;
    --color-tertiary-dark-i: #0f0f0f;
    --color-tertiary-light: #35ae9f;
    --color-tertiary-light-i: #0f0f0f;
    --color-tertiary-transparent: rgba(58, 190, 173, 0.1);
    --color-tertiary-transparent-i: #0f0f0f;
    --color-tertiary-semitransparent1: rgba(58, 190, 173, 0.2);
    --color-tertiary-semitransparent1-i: #0f0f0f;
    --color-tertiary-semitransparent2: rgba(58, 190, 173, 0.5);
    --color-tertiary-semitransparent2-i: #0f0f0f;
    --color-default: #cdd1d6;
    --color-default-i: #0f0f0f;
    --color-default-darker: #e3e6e8;
    --color-default-darker-i: #0f0f0f;
    --color-default-lighter: #b7bcc4;
    --color-default-lighter-i: #0f0f0f;
    --color-default-dark: #d8dbdf;
    --color-default-dark-i: #0f0f0f;
    --color-default-light: #c2c7cd;
    --color-default-light-i: #0f0f0f;
    --color-default-transparent: rgba(205, 209, 214, 0.1);
    --color-default-transparent-i: #0f0f0f;
    --color-default-semitransparent1: rgba(205, 209, 214, 0.2);
    --color-default-semitransparent1-i: #0f0f0f;
    --color-default-semitransparent2: rgba(205, 209, 214, 0.5);
    --color-default-semitransparent2-i: #0f0f0f;
    --color-info: #434f61;
    --color-info-i: #fcfcfc;
    --color-info-darker: #546379;
    --color-info-darker-i: #fcfcfc;
    --color-info-lighter: #323b49;
    --color-info-lighter-i: #fcfcfc;
    --color-info-dark: #4b596d;
    --color-info-dark-i: #fcfcfc;
    --color-info-light: #3b4555;
    --color-info-light-i: #fcfcfc;
    --color-info-transparent: rgba(67, 79, 97, 0.1);
    --color-info-transparent-i: #fcfcfc;
    --color-info-semitransparent1: rgba(67, 79, 97, 0.2);
    --color-info-semitransparent1-i: #fcfcfc;
    --color-info-semitransparent2: rgba(67, 79, 97, 0.5);
    --color-info-semitransparent2-i: #fcfcfc;
    --color-invert: #fcfcfc;
    --color-invert-i: #0f0f0f;
    --color-invert-darker: #e8e8e8;
    --color-invert-darker-i: #0f0f0f;
    --color-invert-lighter: #ffffff;
    --color-invert-lighter-i: #0f0f0f;
    --color-invert-dark: #f2f2f2;
    --color-invert-dark-i: #0f0f0f;
    --color-invert-light: #ffffff;
    --color-invert-light-i: #0f0f0f;
    --color-invert-transparent: rgba(252, 252, 252, 0.1);
    --color-invert-transparent-i: #0f0f0f;
    --color-invert-semitransparent1: rgba(252, 252, 252, 0.2);
    --color-invert-semitransparent1-i: #0f0f0f;
    --color-invert-semitransparent2: rgba(252, 252, 252, 0.5);
    --color-invert-semitransparent2-i: #0f0f0f;
    --color-danger: #db504a;
    --color-danger-i: #fcfcfc;
    --color-danger-darker: #e2716c;
    --color-danger-darker-i: #fcfcfc;
    --color-danger-lighter: #d2312a;
    --color-danger-lighter-i: #fcfcfc;
    --color-danger-dark: #de605b;
    --color-danger-dark-i: #fcfcfc;
    --color-danger-light: #d84039;
    --color-danger-light-i: #fcfcfc;
    --color-danger-transparent: rgba(219, 80, 74, 0.1);
    --color-danger-transparent-i: #fcfcfc;
    --color-danger-semitransparent1: rgba(219, 80, 74, 0.2);
    --color-danger-semitransparent1-i: #fcfcfc;
    --color-danger-semitransparent2: rgba(219, 80, 74, 0.5);
    --color-danger-semitransparent2-i: #fcfcfc;
    --color-warning: #ff6f59;
    --color-warning-i: #0f0f0f;
    --color-warning-darker: #ff9282;
    --color-warning-darker-i: #0f0f0f;
    --color-warning-lighter: #ff4c30;
    --color-warning-lighter-i: #0f0f0f;
    --color-warning-dark: #ff816d;
    --color-warning-dark-i: #0f0f0f;
    --color-warning-light: #ff5d45;
    --color-warning-light-i: #0f0f0f;
    --color-warning-transparent: rgba(255, 111, 89, 0.1);
    --color-warning-transparent-i: #0f0f0f;
    --color-warning-semitransparent1: rgba(255, 111, 89, 0.2);
    --color-warning-semitransparent1-i: #0f0f0f;
    --color-warning-semitransparent2: rgba(255, 111, 89, 0.5);
    --color-warning-semitransparent2-i: #0f0f0f;
    --color-success: #4cceac;
    --color-success-i: #0f0f0f;
    --color-success-darker: #6cd7bb;
    --color-success-darker-i: #0f0f0f;
    --color-success-lighter: #34bd99;
    --color-success-lighter-i: #0f0f0f;
    --color-success-dark: #5cd2b3;
    --color-success-dark-i: #0f0f0f;
    --color-success-light: #3ccaa5;
    --color-success-light-i: #0f0f0f;
    --color-success-transparent: rgba(76, 206, 172, 0.1);
    --color-success-transparent-i: #0f0f0f;
    --color-success-semitransparent1: rgba(76, 206, 172, 0.2);
    --color-success-semitransparent1-i: #0f0f0f;
    --color-success-semitransparent2: rgba(76, 206, 172, 0.5);
    --color-success-semitransparent2-i: #0f0f0f;
    --color-backdrop-1: rgba(0, 0, 0, 0.1);
    --color-backdrop-2: rgba(0, 0, 0, 0.2);
    --color-backdrop-3: rgba(0, 0, 0, 0.3);
    --color-backdrop-4: rgba(0, 0, 0, 0.4);
    --color-backdrop-5: rgba(0, 0, 0, 0.5);
  }

  .theme_light {
    // Grey color schemes for background and foreground text
    --color-1: #202225;
    --color-2: #565c63;
    --color-3: #555a61;
    // Variables that control the theme colors
    --color-global: #fbfcfd;
    --color-global-i: #0f0f0f;
    --color-global-darker: #e0e8ef;
    --color-global-darker-i: #0f0f0f;
    --color-global-lighter: #ffffff;
    --color-global-lighter-i: #0f0f0f;
    --color-global-dark: #edf2f6;
    --color-global-dark-i: #0f0f0f;
    --color-global-light: #ffffff;
    --color-global-light-i: #0f0f0f;
    --color-global-transparent: rgba(251, 252, 253, 0.1);
    --color-global-transparent-i: #0f0f0f;
    --color-global-semitransparent1: rgba(251, 252, 253, 0.2);
    --color-global-semitransparent1-i: #0f0f0f;
    --color-global-semitransparent2: rgba(251, 252, 253, 0.5);
    --color-global-semitransparent2-i: #0f0f0f;
    --color-container: #f7f8f9;
    --color-container-i: #0f0f0f;
    --color-container-darker: #e0e4e8;
    --color-container-darker-i: #0f0f0f;
    --color-container-lighter: #ffffff;
    --color-container-lighter-i: #0f0f0f;
    --color-container-dark: #ebeef0;
    --color-container-dark-i: #0f0f0f;
    --color-container-light: #ffffff;
    --color-container-light-i: #0f0f0f;
    --color-container-transparent: rgba(247, 248, 249, 0.1);
    --color-container-transparent-i: #0f0f0f;
    --color-container-semitransparent1: rgba(247, 248, 249, 0.2);
    --color-container-semitransparent1-i: #0f0f0f;
    --color-container-semitransparent2: rgba(247, 248, 249, 0.5);
    --color-container-semitransparent2-i: #0f0f0f;
    --color-surface: #fdfdfd;
    --color-surface-i: #0f0f0f;
    --color-surface-darker: #e9e9e9;
    --color-surface-darker-i: #0f0f0f;
    --color-surface-lighter: #ffffff;
    --color-surface-lighter-i: #0f0f0f;
    --color-surface-dark: #f3f3f3;
    --color-surface-dark-i: #0f0f0f;
    --color-surface-light: #ffffff;
    --color-surface-light-i: #0f0f0f;
    --color-surface-transparent: rgba(253, 253, 253, 0.1);
    --color-surface-transparent-i: #0f0f0f;
    --color-surface-semitransparent1: rgba(253, 253, 253, 0.2);
    --color-surface-semitransparent1-i: #0f0f0f;
    --color-surface-semitransparent2: rgba(253, 253, 253, 0.5);
    --color-surface-semitransparent2-i: #0f0f0f;
    --color-float: #ffffff;
    --color-float-i: #0f0f0f;
    --color-float-darker: #ebebeb;
    --color-float-darker-i: #0f0f0f;
    --color-float-lighter: #ffffff;
    --color-float-lighter-i: #0f0f0f;
    --color-float-dark: #f5f5f5;
    --color-float-dark-i: #0f0f0f;
    --color-float-light: #ffffff;
    --color-float-light-i: #0f0f0f;
    --color-float-transparent: rgba(255, 255, 255, 0.1);
    --color-float-transparent-i: #0f0f0f;
    --color-float-semitransparent1: rgba(255, 255, 255, 0.2);
    --color-float-semitransparent1-i: #0f0f0f;
    --color-float-semitransparent2: rgba(255, 255, 255, 0.5);
    --color-float-semitransparent2-i: #0f0f0f;
    --color-primary: #4b8ca6;
    --color-primary-i: #fcfcfc;
    --color-primary-darker: #3e748a;
    --color-primary-darker-i: #fcfcfc;
    --color-primary-lighter: #629fb8;
    --color-primary-lighter-i: #fcfcfc;
    --color-primary-dark: #458098;
    --color-primary-dark-i: #fcfcfc;
    --color-primary-light: #5497b2;
    --color-primary-light-i: #fcfcfc;
    --color-primary-transparent: rgba(75, 140, 166, 0.1);
    --color-primary-transparent-i: #fcfcfc;
    --color-primary-semitransparent1: rgba(75, 140, 166, 0.2);
    --color-primary-semitransparent1-i: #fcfcfc;
    --color-primary-semitransparent2: rgba(75, 140, 166, 0.5);
    --color-primary-semitransparent2-i: #fcfcfc;
    --color-secondary: #d9ae5f;
    --color-secondary-i: #0f0f0f;
    --color-secondary-darker: #d19d3e;
    --color-secondary-darker-i: #0f0f0f;
    --color-secondary-lighter: #e1bf80;
    --color-secondary-lighter-i: #0f0f0f;
    --color-secondary-dark: #d5a64e;
    --color-secondary-dark-i: #0f0f0f;
    --color-secondary-light: #ddb66f;
    --color-secondary-light-i: #0f0f0f;
    --color-secondary-transparent: rgba(217, 174, 95, 0.1);
    --color-secondary-transparent-i: #0f0f0f;
    --color-secondary-semitransparent1: rgba(217, 174, 95, 0.2);
    --color-secondary-semitransparent1-i: #0f0f0f;
    --color-secondary-semitransparent2: rgba(217, 174, 95, 0.5);
    --color-secondary-semitransparent2-i: #0f0f0f;
    --color-tertiary: #3abead;
    --color-tertiary-i: #0f0f0f;
    --color-tertiary-darker: #309f91;
    --color-tertiary-darker-i: #0f0f0f;
    --color-tertiary-lighter: #56cbbc;
    --color-tertiary-lighter-i: #0f0f0f;
    --color-tertiary-dark: #35ae9f;
    --color-tertiary-dark-i: #0f0f0f;
    --color-tertiary-light: #46c6b6;
    --color-tertiary-light-i: #0f0f0f;
    --color-tertiary-transparent: rgba(58, 190, 173, 0.1);
    --color-tertiary-transparent-i: #0f0f0f;
    --color-tertiary-semitransparent1: rgba(58, 190, 173, 0.2);
    --color-tertiary-semitransparent1-i: #0f0f0f;
    --color-tertiary-semitransparent2: rgba(58, 190, 173, 0.5);
    --color-tertiary-semitransparent2-i: #0f0f0f;
    --color-default: #434f61;
    --color-default-i: #fcfcfc;
    --color-default-darker: #323b49;
    --color-default-darker-i: #fcfcfc;
    --color-default-lighter: #546379;
    --color-default-lighter-i: #fcfcfc;
    --color-default-dark: #3b4555;
    --color-default-dark-i: #fcfcfc;
    --color-default-light: #4b596d;
    --color-default-light-i: #fcfcfc;
    --color-default-transparent: rgba(67, 79, 97, 0.1);
    --color-default-transparent-i: #fcfcfc;
    --color-default-semitransparent1: rgba(67, 79, 97, 0.2);
    --color-default-semitransparent1-i: #fcfcfc;
    --color-default-semitransparent2: rgba(67, 79, 97, 0.5);
    --color-default-semitransparent2-i: #fcfcfc;
    --color-info: #cdd1d6;
    --color-info-i: #0f0f0f;
    --color-info-darker: #b7bcc4;
    --color-info-darker-i: #0f0f0f;
    --color-info-lighter: #e3e6e8;
    --color-info-lighter-i: #0f0f0f;
    --color-info-dark: #c2c7cd;
    --color-info-dark-i: #0f0f0f;
    --color-info-light: #d8dbdf;
    --color-info-light-i: #0f0f0f;
    --color-info-transparent: rgba(205, 209, 214, 0.1);
    --color-info-transparent-i: #0f0f0f;
    --color-info-semitransparent1: rgba(205, 209, 214, 0.2);
    --color-info-semitransparent1-i: #0f0f0f;
    --color-info-semitransparent2: rgba(205, 209, 214, 0.5);
    --color-info-semitransparent2-i: #0f0f0f;
    --color-invert: #0c0c0c;
    --color-invert-i: #fcfcfc;
    --color-invert-darker: #202020;
    --color-invert-darker-i: #fcfcfc;
    --color-invert-lighter: #000000;
    --color-invert-lighter-i: #fcfcfc;
    --color-invert-dark: #161616;
    --color-invert-dark-i: #fcfcfc;
    --color-invert-light: #020202;
    --color-invert-light-i: #fcfcfc;
    --color-invert-transparent: rgba(12, 12, 12, 0.1);
    --color-invert-transparent-i: #fcfcfc;
    --color-invert-semitransparent1: rgba(12, 12, 12, 0.2);
    --color-invert-semitransparent1-i: #fcfcfc;
    --color-invert-semitransparent2: rgba(12, 12, 12, 0.5);
    --color-invert-semitransparent2-i: #fcfcfc;
    --color-danger: #db504a;
    --color-danger-i: #fcfcfc;
    --color-danger-darker: #d2312a;
    --color-danger-darker-i: #fcfcfc;
    --color-danger-lighter: #e2716c;
    --color-danger-lighter-i: #fcfcfc;
    --color-danger-dark: #d84039;
    --color-danger-dark-i: #fcfcfc;
    --color-danger-light: #de605b;
    --color-danger-light-i: #fcfcfc;
    --color-danger-transparent: rgba(219, 80, 74, 0.1);
    --color-danger-transparent-i: #fcfcfc;
    --color-danger-semitransparent1: rgba(219, 80, 74, 0.2);
    --color-danger-semitransparent1-i: #fcfcfc;
    --color-danger-semitransparent2: rgba(219, 80, 74, 0.5);
    --color-danger-semitransparent2-i: #fcfcfc;
    --color-warning: #ff6f59;
    --color-warning-i: #0f0f0f;
    --color-warning-darker: #ff4c30;
    --color-warning-darker-i: #0f0f0f;
    --color-warning-lighter: #ff9282;
    --color-warning-lighter-i: #0f0f0f;
    --color-warning-dark: #ff5d45;
    --color-warning-dark-i: #0f0f0f;
    --color-warning-light: #ff816d;
    --color-warning-light-i: #0f0f0f;
    --color-warning-transparent: rgba(255, 111, 89, 0.1);
    --color-warning-transparent-i: #0f0f0f;
    --color-warning-semitransparent1: rgba(255, 111, 89, 0.2);
    --color-warning-semitransparent1-i: #0f0f0f;
    --color-warning-semitransparent2: rgba(255, 111, 89, 0.5);
    --color-warning-semitransparent2-i: #0f0f0f;
    --color-success: #4cceac;
    --color-success-i: #0f0f0f;
    --color-success-darker: #34bd99;
    --color-success-darker-i: #0f0f0f;
    --color-success-lighter: #6cd7bb;
    --color-success-lighter-i: #0f0f0f;
    --color-success-dark: #3ccaa5;
    --color-success-dark-i: #0f0f0f;
    --color-success-light: #5cd2b3;
    --color-success-light-i: #0f0f0f;
    --color-success-transparent: rgba(76, 206, 172, 0.1);
    --color-success-transparent-i: #0f0f0f;
    --color-success-semitransparent1: rgba(76, 206, 172, 0.2);
    --color-success-semitransparent1-i: #0f0f0f;
    --color-success-semitransparent2: rgba(76, 206, 172, 0.5);
    --color-success-semitransparent2-i: #0f0f0f;
    --color-backdrop-1: rgba(0, 0, 0, 0.1);
    --color-backdrop-2: rgba(0, 0, 0, 0.2);
    --color-backdrop-3: rgba(0, 0, 0, 0.3);
    --color-backdrop-4: rgba(0, 0, 0, 0.4);
    --color-backdrop-5: rgba(0, 0, 0, 0.5);
  }
}
