.login {
  .form-signup,
  .form-signin,
  .form-reset {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    margin-top: 20px;

    &.message {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      // padding: 0 40px 0 10px;
      background-color: white;
      color: black;
      border-radius: 4px;
      border: 3px solid transparent;
      // border: none;
      height: 50px;
      @media (max-width: 767px) {
        height: 40px;
      }

      &:focus {
        border: 3px solid var(--color-secondary-1);
      }
    }

    .label {
      cursor: default;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      font-size: 0.8em;
      margin-bottom: 6px;

      .forgot-password-link {
        color: var(--color-secondary-1);
        cursor: pointer;
      }

      .label-text {
      }
      .error-text {
        display: flex;
        align-items: center;
        color: var(--color-warning);
      }
      .link {
        color: var(--color-secondary-1);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    label {
      // font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-family: 'Open Sans', sans-serif;
      display: block;
      font-size: 0.8em;
      position: relative;
      left: 10px;
      margin-bottom: 6px;
      color: var(--color-foreground-1);
    }
  }

  .social-signin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    column-gap: 10px;
    .social-google {
      display: flex;
      justify-content: flex-end;
      justify-content: center;
      button {
        background-color: transparent !important;
        border: 1.2px solid #f0f0f0 !important;
        color: #f0f0f0 !important;
        width: auto;
        height: auto !important;
        padding: 0;
        border-radius: 4px !important;
        div {
          background-color: transparent !important;
          display: flex;
          padding: 0 10px !important;
          margin: 0 !important;
        }
        span {
          //   display: none;
        }
      }
    }
    .social-facebook {
      display: flex;
    }
  }

  .action {
    margin-top: 30px;
  }

  button {
    width: 100%;
    margin: 0px;
    height: 50px !important;
    font-size: 16px;
    @media (max-width: 767px) {
      height: 40px !important;
    }
  }

  .hr {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    font-size: 13px;
    opacity: 0.4;
    letter-spacing: 0.2px;
    color: var(--color-foreground-2);
    &::before {
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      background-color: var(--color-foreground-2);
      right: 0.5em;
      margin-left: -50%;
    }
    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      background-color: var(--color-foreground-2);
      left: 0.5em;
      margin-right: -50%;
    }
  }

  .button-link {
    display: flex;
    justify-content: center;
    .link {
      // height: 20px;
      // line-height: 20px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      cursor: pointer;
      color: var(--color-secondary-1) !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.verify-session {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
