
button {

    // Initialize colors based on theme
    &.default {
      --color-bg: var(--color-btn-bg-palette-0);
      &.in {
        --color-fg: var(--color-btn-fg-palette-0);
        --color-fg-hover: var(--color-btn-fg-palette-0-hover);
      }
      &.out {
        --color-fg: var(--color-btn-fg-palette-0-hover);
        --color-fg-hover: var(--color-btn-fg-palette-0);
      }
    }
  
    &.primary {
      --color-bg: var(--color-btn-bg-palette-1);
      &.in {
        --color-fg: var(--color-btn-fg-palette-1);
        --color-fg-hover: var(--color-btn-fg-palette-1-hover);
      }
      &.out {
        --color-fg: var(--color-btn-fg-palette-1-hover);
        --color-fg-hover: var(--color-btn-fg-palette-1);
      }    
    }
  
    &.secondary {
      --color-bg: var(--color-btn-bg-palette-2);
      &.in {
        --color-fg: var(--color-btn-fg-palette-2);
        --color-fg-hover: var(--color-btn-fg-palette-2-hover);
      }
      &.out {
        --color-fg: var(--color-btn-fg-palette-2-hover);
        --color-fg-hover: var(--color-btn-fg-palette-2);
      }
    }
  
    &.in {
      --height-start: 0%;
      --height-end: 100%;
      --width-start: 0%;
      --width-end: 100%;
    }
  
    &.out {
      --height-start: 100%;
      --height-end: 0%;
      --width-start: 100%;
      --width-end: 0%;
    }
  
    background: none;
    outline: none;
    color: var(--color-fg) !important;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    // transition: 0.8s;
    // transition: .4s cubic-bezier(.7,0,.3,1);
    transition: .4s cubic-bezier(.5,1.6,.4,.7);
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding: 10px 20px;
  
    &.small {
      padding: 5px 16px !important;
    }
  
    @media (max-width: 767px) {
      padding: 5px 16px !important;
    }
  
    border: 1px solid var(--color-bg);
    &.noborder {
      border: none;
      padding: 11px 21px;
  
      &.small {
        padding: 6px 17px !important;
      }
  
      @media (max-width: 767px) {
        padding: 5px 16px !important;
      }
    }
  
    &.disabled {
      border: 1px solid transparent;    
      &:hover {
        border: 1px solid var(--color-bg);
      }
    }
  
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0%;
      z-index: -1;
      // transition: 0.8s;
      // transition: .4s cubic-bezier(.7,0,.3,1);
      transition: .4s cubic-bezier(.5,1.6,.4,.7);
      background-color: var(--color-bg);
    }
  
    // &.left, &.right {
    //   transition: .4s cubic-bezier(.5,1.6,.4,.7);
    //   &::before {
    //     transition: .4s cubic-bezier(.5,1.6,.4,.7);
    //   }
    // }
  
    &.animate {
      &:hover {
        color: var(--color-fg-hover) !important;
      }
  
      &.down {
        &::before {
          top: 0;
          height: var(--height-start);
          // border-radius: 0 0 50% 50%;
        }
      }
  
      &.up {
        &::before {
          bottom: 0;
          height: var(--height-start);
          // border-radius: 50% 50% 0 0;
        }
      }
  
      &.right {
        &::before {
          top: 0;
          width: var(--width-start);
          height: 100%;
          // border-radius: 0 50px 50px 0;
        }
      }
  
      &.left {
        &::before {
          top: 0;
          width: var(--width-start);
          height: 100%;
          right: -100px;
          // right: -10px;
          // left: 10px;
          // border-radius: 0 50px 50px 0;
        }
      }
  
      &:hover {
        &.up, &.down {
          &::before {
            height: var(--height-end);
          }
        }        
  
        &.left, &.right {
          &::before {
            // left: 0px;
            // left: 100%;
            right: 0;
            // right: -100px;
            width: var(--width-end);
          }
        }        
      }
    }
  }
  