.drop-links {
  display: grid;
  row-gap: 30px;

  // align-content: center;
  // font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: 100;
  @media (max-width: 767px) {
    flex-direction: column;
    font-size: var(--metric-typography-10);
  }
  a {
    &.active {
      color: var(--color-primary);
      opacity: 1;
    }
  }
  &:hover {
    a {
      color: var(--color-1);
      transition: opacity 0.4s ease, color 0.4s ease;
      opacity: 0.3;
    }
  }
  a {
    transition: opacity 0.4s ease, color 0.4s ease;
    display: flex;
    // justify-self: flex-start;
    color: var(--color-1);
    opacity: 0.8;
    // line-height: 1.2;
    position: relative;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   background: ;
    //   width: 20px;
    //   height: 2px;
    //   top: 100%;
    //   transform: translate(0%, 0%);
    //   transition: all 0.3s ease;
    //   z-index: -1;
    // }
    &:hover {
      // &:before {
      //   width: 100%;
      // }
      color: var(--color-1);
      opacity: 1;
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}
