.links {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
  // align-content: center;
  // font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 500;
  @media (max-width: 767px) {
    flex-direction: column;
    font-size: 12px;
    column-gap: 10px;
  }
}
