.nav-menu-icon {
  $size: 30px;
  // height: $size;
  // width: $size;
  // position: fixed;
  z-index: 3;
  left: 50px;
  top: 30px;
  cursor: pointer;
  .__line {
    height: 2px;
    width: $size;
    display: block;
    background-color: var(--color-1);
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
  }
  .__line-left {
    width: $size / 2;
  }
  .__line-right {
    width: $size / 2;
    float: right;
  }

  &.close {
    .__line {
      background-color: var(--color-1);
      transform: translateX(0px) rotate(-45deg);
    }
    .__line-left {
      transform: translateX(1px) rotate(45deg);
    }
    .__line-right {
      transform: translateX(-2px) rotate(45deg);
    }
  }
}
