.nav {
  // Dimension constants
  $logoHeight: 30px;
  $logoHeightMobile: 20px;
  $signinIconHeight: 25px;

  font-family: 'Open Sans', sans-serif;
  // font-family: 'Open Sans Condensed', sans-serif;
  height: var(--height-nav);
  line-height: var(--height-nav);

  .navbar {
    &.desktop {
      --logo-primary-pad-left: 50px;
      --rightedge-pad-right: 10px;
      --logo-height: 30px;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &.mobile {
      --logo-primary-pad-left: 20px;
      --rightedge-pad-right: 10px;
      --logo-height: 25px;

      @media (max-width: 767px) {
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    // background-color: var(--color-nav);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: calc(10px + 2vmin);
    
    position: fixed;
    width: 100%;
    // box-shadow: 0 0 5px var(--color-body);
    // border-bottom: 1px solid var(--color-body);
    z-index: 1;

    img.logo {
      height: var(--logo-height);
      width: auto;
      padding-right: var(--logo-primary-pad-left);
    }

    .links {
      display: flex;
      a {
        color: var(--color-body-invert);
        position: relative;
        transition: all 0.5s;
        text-decoration: none;
        font-size: 0.6em;
        margin-right: 15px;
        padding-left: 2px;
        padding-right: 2px;
        // text-transform: uppercase;
        &:hover {
          // color: var(--color-body-invert);
          color: var(--color-body-invert-dim);
          &::after {
            //   width: 95%;
          }
        }

        &.active {
          color: var(--color-primary);
        }


        &::before {
          transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
        }
      }
    }

    .left {
      display: flex;
      align-items: center;
      padding-left: var(--logo-primary-pad-left);
    }

    .right {
      display: flex;
      justify-content: flex-end;
      padding-right: var(--rightedge-pad-right);
      align-items: center;

      .action,
      .links {
        display: flex;
      }

      .settings-icon {
        display: flex;
        margin-right: 1vh;
        cursor: pointer;
      }

      .menu {
        // margin: 1em;
        width: 25px;
      }
    }

    &.transparent {
      background-color: transparent;
      box-shadow: none;
      border-bottom: none;
    }
  }

  .slider {
    height: calc(100vh - var(--height-nav));
    width: 100vw;
    top: var(--height-nav);
    background-color: var(--color-nav-slider);
    position: fixed;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 2;

    .container {
      display: grid;
      height: inherit;
      grid-template-rows: auto auto 1fr;

      .links {
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        a {
          text-decoration: none;
          color: var(--color-body-invert);
          font-size: 1.5em;
          padding: 10px;

          &.active {
            color: var(--color-primary);
          }
        }
      }

      .action {
        padding: 10px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: auto auto;
        // justify-content: center;
        // justify-items: center;

        .buttons {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }

        .settings-icon {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
        }
      }

      &::before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--color-secondary);
      }

      &.hidetext {
        display: none;
      }
    }

    &.hide {
      width: 0vw;
    }

    &.show {
      padding: 0px;
      // padding-left: 2vh;
      // padding-right: 2vh;
    }
  }

  .settings {
    // background-color: aqua;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    // overflow: hidden;
    align-items: center;

    .text-size {
      display: inline;
      cursor: pointer;

      &.active {
        color: var(--color-secondary);
      }

      &.size-1 {
        font-size: calc(
          var(--metric-unit-tiny) * var(--metric-typography-base-3)
        );
      }

      &.size-2 {
        font-size: calc(
          var(--metric-unit-small) * var(--metric-typography-base-3)
        );
      }

      &.size-3 {
        font-size: calc(
          var(--metric-unit-medium) * var(--metric-typography-base-3)
        );
      }

      &.size-4 {
        font-size: calc(
          var(--metric-unit-large) * var(--metric-typography-base-3)
        );
      }
    }

    .theme-color {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 15px;
      color: #fff;
      line-height: 50px;
      text-align: center;
      background: #000;
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;

      &.color-1 {
        background-color: var(--color-themecolor-1);
      }

      &.color-2 {
        background-color: var(--color-themecolor-2);
      }

      &.color-3 {
        background-color: var(--color-themecolor-3);
      }

      &.color-4 {
        background-color: var(--color-themecolor-4);
      }
    }
  }

  .navitem {
    white-space: nowrap;
  }

  .dark-mode {
    user-select: none;
    cursor: pointer;
    transform: scaleX(-1);
    &:hover {
      transform: scaleX(1);
    }
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}
