.duplicate-page {
}

.duplicate-page {
  // display: grid;
  // grid-template-columns: 1fr auto;
  // margin-right: 27em;
}
.duplicate-page__topbar {
  // background-color: var(--color-surface);
  height: 100px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  align-content: center;
  align-items: center;
  padding: 0 20px;
}
.duplicate-page__topbar__left {
  font-size: 28px;
}
.duplicate-page__topbar__right {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.duplicate-page__main {
  // display: flex;
  // flex-direction: column;
  // margin: 0 20px;
  // margin-bottom: 20px;
  // margin-top: 40px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.duplicate-page__main__list {
  // background-color: var(--color-surface);
  // margin-top: 100px;
  // padding: 14px 28px;
  // padding-top: 14px;
}

.duplicate-page__main__summary {
  // border-bottom: 1px solid var(--color-container-darker);
  // border-top: 1px solid var(--color-container-darker);
}

.duplicate-page__filter {
  position: fixed;
  width: 27em;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: -27em;
  background-color: var(--color-container);
  transition: margin-right 250ms ease-in-out;
}

.duplicate-page__filter--active {
  margin-right: 0;
}
