.view-main,
.view-container {
  min-height: 100vh;
  // padding-top: calc(var(--height-nav) + 20px);
  // padding-bottom: 40px;

  @media (min-width: 768px) {
    // width: 60%;
    // margin: auto;
  }
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.view-side {
  overflow-x: hidden;
}

.view-desktop {
  @media (min-width: 768px) {
    display: show;
  }
  @media (max-width: 767px) {
    display: none;
  }
  .view-content {
    padding: 50px;
    padding-top: calc(var(--height-nav) + 20px);

    &.side-present {
      margin-left: calc(362px + 40px);
    }
    min-height: 100vh;
  }

  .view-side {
    width: 362px;
    border-right: 1px solid var(--color-foreground-2);
    position: fixed;
    overflow-y: auto;
    top: var(--height-nav);
    bottom: 0;

    .section-footer {
      width: 362px;
      position: fixed;
      bottom: 0;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;
      justify-content: right;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-right: -80px;
      background-color: var(--color-background-1);
    }
  }
}

.view-mobile {
  @media (max-width: 767px) {
    display: show;
  }
  @media (min-width: 768px) {
    display: none;
  }

  .slider {
    --topbar-height: 30px;
    width: 100vw;
    overflow: hidden;
    margin-top: var(--height-nav);
    &.hide {
      height: var(--topbar-height);
    }
    &.show {
      height: calc(100vh - var(--height-nav));
      overflow-y: auto;
    }
    transition: all 0.4s ease-in-out;
    top: 100px;

    .topbar {
      position: fixed;
      width: 100vw;
      background-color: var(--color-tertiary-1);
      display: grid;
      justify-content: center;
      height: var(--topbar-height);
      align-items: center;
      align-content: center;
      z-index: 1;
    }

    .view-side {
      padding-top: var(--topbar-height);
    }

    .container {
      display: grid;

      &::before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--color-secondary-1);
      }

      &.hidetext {
        display: none;
      }

      .filter-container {
        .filter-body {
          display: grid;
          align-content: flex-start;
          margin-bottom: 100px;
        }

        .section-footer {
          position: fixed;
          bottom: 0;
          width: 100vw;
          background-color: var(--color-nav-slider);
          display: grid;
          grid-template-columns: auto auto;
          justify-content: space-around;
          padding: 10px;
        }
      }
    }
  }
}
