.oak-select {
  user-select: none;
  margin-bottom: 20px;
  --color-bg: var(--color-btn-bg-default);
  --color-fg: var(--color-btn-fg-default);
  --color-fg-hover: var(--color-btn-fg-default-hover);
  &.default {
    --color-bg: var(--color-btn-bg-default);
    --color-fg: var(--color-btn-fg-default);
    --color-fg-hover: var(--color-btn-fg-default-hover);
    &.invert {
      --color-fg-hover: var(--color-btn-fg-default);
      --color-fg: var(--color-btn-fg-default-hover);
    }
  }

  &.primary {
    --color-bg: var(--color-btn-bg-primary);
    --color-fg: var(--color-btn-fg-primary);
    --color-fg-hover: var(--color-btn-fg-primary-hover);
    &.invert {
      --color-fg-hover: var(--color-btn-fg-primary);
      --color-fg: var(--color-btn-fg-primary-hover);
    }
  }

  &.secondary {
    --color-bg: var(--color-btn-bg-secondary);
    --color-fg: var(--color-btn-fg-secondary);
    --color-fg-hover: var(--color-btn-fg-secondary-hover);
    &.invert {
      --color-fg-hover: var(--color-btn-fg-secondary);
      --color-fg: var(--color-btn-fg-secondary-hover);
    }
  }

  &.tertiary {
    --color-bg: var(--color-btn-bg-tertiary);
    --color-fg: var(--color-btn-fg-tertiary);
    --color-fg-hover: var(--color-btn-fg-tertiary-hover);
    &.invert {
      --color-fg-hover: var(--color-btn-fg-tertiary);
      --color-fg: var(--color-btn-fg-tertiary-hover);
    }
  }

  .select-button {
    --clip-radius: 10px;

    // border-radius: 100px;
    clip-path: polygon(
      0 var(--clip-radius),
      10px 0,
      100% 0,
      100% calc(100% - var(--clip-radius)),
      calc(100% - var(--clip-radius)) 100%,
      0 100%
    );
    // clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
    // clip-path: polygon(calc(50% + 5px) 0, 2em 1em, 10em 14em);
    // Initialize colors based on theme

    cursor: pointer;
    background-color: var(--color-background-2);
    color: var(--color-foreground-1);
    padding: 10px 16px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    .material-icons {
      vertical-align: middle;
      font-size: 0.8em;
    }
  }

  &.block {
    .select-button {
      background-color: var(--color-bg);
      color: var(--color-fg-hover);
    }
  }

  &.outline {
    .select-button {
      background-color: var(--color-background-1);
      color: var(--color-foreground-1);
      border: 1.5px solid var(--color-bg);
    }
  }

  &.no-outline {
    .select-button {
      background-color: transparent;
      color: var(--color-foreground-1);
    }
  }

  &.normal {
    .select-button {
      background-color: var(--color-background-2);
      color: var(--color-foreground-1);
    }
  }

  .dropdown {
    // z-index: 1;
    // position: relative;
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }

    .dropdown-content {
      z-index: 1;
      max-height: 300px;
      overflow-y: auto;
      position: absolute;
      // width: 100%;
      background-color: var(--color-background-2);

      --clip-radius: 10px;

      // border-radius: 100px;
      clip-path: polygon(
        0 var(--clip-radius),
        10px 0,
        100% 0,
        100% calc(100% - var(--clip-radius)),
        calc(100% - var(--clip-radius)) 100%,
        0 100%
      );
      // clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
      // clip-path: polygon(calc(50% + 5px) 0, 2em 1em, 10em 14em);
      // Initialize colors based on theme

      margin-top: 4px;

      .option {
        padding: 10px 16px;
        cursor: pointer;

        overflow-x: hidden;
        text-overflow: ellipsis;
        &:hover {
          background-color: var(--color-bg);
          color: var(--color-fg-hover);
        }
      }
    }
  }

  &.width-25 {
    max-width: 25%;
  }
  &.width-50 {
    max-width: 50%;
  }
  &.width-75 {
    max-width: 75%;
  }
  &.width-100 {
    max-width: 100%;
  }

  .primary {
    display: inline-block;
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--color-background-1);
    margin-left: 10px;
    min-width: 14px;
    text-align: center;
    height: 14px;
    line-height: 14px;
  }

  min-width: 10px !important;
}

label {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  display: block;
  // bottom: 8px;
  left: 10px;
  position: relative;
  font-size: 0.8em;
  color: var(--color-foreground-2);
  text-transform: capitalize;
}

.select-palette {
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  width: 12px;
  text-align: center;
  height: 12px;
  line-height: 12px;

  &.one {
    background-color: #448c30;
  }
  &.two {
    background-color: #f2e205;
  }
  &.three {
    background-color: #dd403a;
  }
  &.four {
    background-color: #970ff2;
  }
  &.five {
    background-color: #0597f2;
  }
  &.six {
    background-color: #f2309b;
  }
}
