.oak-page {
  // height: 100vh;
  // overflow: hidden;
  // padding: 10px 10px;
  @media (max-width: 767px) {
    // padding: 5px;
  }
  .oak-page-container {
    // margin-top: 10px;
    // height: calc(100vh - var(--height-nav));
    // overflow: auto;
  }
}
