.oak-pagination {
  font-size: 0.8em;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: row;
  height: 53px;

  .page-nav {
    display: flex;
    align-items: center;
  }

  .material-icons {
    vertical-align: middle;
    font-size: 28px;
    cursor: pointer;

    &.disabled {
      cursor: auto;
      color: var(--color-background-2);
    }
  }
}
