button {
  &.oak-button {
    user-select: none;
    border-radius: 100px;

    // Initialize colors based on theme
    &.default {
      --color-bg: var(--color-btn-bg-default);
      --color-fg: var(--color-btn-fg-default);
      --color-fg-hover: var(--color-btn-fg-default-hover);
      &.invert {
        --color-fg-hover: var(--color-btn-fg-default);
        --color-fg: var(--color-btn-fg-default-hover);
      }
    }

    &.primary {
      --color-bg: var(--color-btn-bg-primary);
      --color-fg: var(--color-btn-fg-primary);
      --color-fg-hover: var(--color-btn-fg-primary-hover);
      &.invert {
        --color-fg-hover: var(--color-btn-fg-primary);
        --color-fg: var(--color-btn-fg-primary-hover);
      }
    }

    &.secondary {
      --color-bg: var(--color-btn-bg-secondary);
      --color-fg: var(--color-btn-fg-secondary);
      --color-fg-hover: var(--color-btn-fg-secondary-hover);
      &.invert {
        --color-fg-hover: var(--color-btn-fg-secondary);
        --color-fg: var(--color-btn-fg-secondary-hover);
      }
    }

    &.tertiary {
      --color-bg: var(--color-btn-bg-tertiary);
      --color-fg: var(--color-btn-fg-tertiary);
      --color-fg-hover: var(--color-btn-fg-tertiary-hover);
      &.invert {
        --color-fg-hover: var(--color-btn-fg-tertiary);
        --color-fg: var(--color-btn-fg-tertiary-hover);
      }
    }

    background: none;
    outline: none;
    color: var(--color-fg);
    text-transform: uppercase;
    cursor: pointer;
    // transition: .4s cubic-bezier(.5,1.6,.4,.7);
    position: relative;
    overflow: hidden;
    z-index: 0;
    border: 2px solid var(--color-bg);

    padding: 8px 16px;

    &.small {
      padding: 4px 8px;
    }

    &.align-left {
      margin-right: 5px;
    }

    &.align-right {
      margin-left: 5px;
    }

    &.align-center {
      margin-left: 5px;
      margin-right: 5px;
    }

    // Slider animation defaulted to right
    &.animate {
      &.in {
        &:hover {
          color: var(--color-fg-hover);
          background-color: var(--color-bg);
          transition: 0.2s cubic-bezier(0.5, 1.6, 0.4, 0.7);
        }
      }

      &.out {
        color: var(--color-fg-hover);
        background-color: var(--color-bg);
        &:hover {
          color: var(--color-fg);
          background-color: transparent;
        }
      }

      &.none {
      }
    }

    &.block {
      border: 2px solid transparent;
      &:hover {
        color: var(--color-fg-hover);
        background-color: var(--color-bg);
      }
    }

    &.outline {
      border: 2px solid transparent;
      color: var(--color-fg);
      &:hover {
        border: 2px solid var(--color-bg);
      }
    }

    &.disabled {
      border: none;
    }

    &.icon {
      height: 38px;
      width: 38px;
      border-width: 2px;
      padding: 4px 4px;
      border-radius: 50%;
      .material-icons {
        margin: 0;
        font-size: 1.5em;
      }
    }

    .material-icons {
      vertical-align: middle;
      margin-right: 5px;
      font-size: 1.2em;
    }
  }
}
