.oak-pagination {
  font-size: 0.8em;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr auto;
  // justify-content: space-between;
  align-items: center;

  .oak-pagination--left {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
  }

  .oak-pagination--right {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
    .page-nav {
      display: flex;
      align-items: center;
    }

    .material-icons {
      vertical-align: middle;
      font-size: 28px;
      cursor: pointer;

      &.disabled {
        cursor: auto;
        // color: ;
      }
    }
  }
}
