.oak-sidebar {
  background-color: var(--color-sidebar-element);
  .header {
    user-select: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color-sidebar-header);
    border-bottom: 1px solid var(--color-background-1);
    color: var(--color-sidebar-fg);

    &:hover {
      color: var(--color-sidebar-fg-hover);
    }

    &.active {
      background-color: var(--color-sidebar-header-active);
      border-bottom: 1px solid var(--color-background-2);
    }

    .aria {
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;

      .material-icons {
        transition: transform 0.4s ease-out;

        &.collapse {
          transform: rotate(-90deg);
        }
      }
    }

    .label {
      padding-left: 20px;
      font-size: 16px;

      .number {
        display: inline-block;
        padding: 6px;
        font-size: 14px;
        border-radius: 4px;
        background-color: var(--color-background-1);
        margin-left: 10px;
        min-width: 14px;
        text-align: center;
        height: 14px;
        line-height: 14px;
      }
    }
  }
  .content {
    overflow: hidden;
    transition: all 0.35s ease-out;

    &.static {
      &.show {
        // max-height: 100vh;
        height: auto;
      }
      &.hide {
        // max-height: 0vh;
        height: 0;
      }
    }

    &.animate {
      &.show {
        max-height: 100vh;
      }
      &.hide {
        max-height: 0vh;
      }
    }

    .element {
      user-select: none;
      cursor: pointer;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      background-color: var(--color-sidebar-element);
      border-bottom: 0.5px solid var(--color-background-2);
      color: var(--color-sidebar-fg);
      font-size: 16px;

      &:hover {
        color: var(--color-sidebar-fg-hover);
      }
    }
  }

  .element .material-icons,
  .label .material-icons {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 1.4em;
  }
}
