.oak-select {
  .select {
    width: 100%;
    // background-color: var(--color-formelement-bg-1);
    background-color: transparent;
    color: var(--color-formelement-fg);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-foreground-1);
    &:focus {
      border-bottom: 1px solid var(--color-primary-1);
    }
    // padding: 10px 0;
    height: 42px;
    font-size: 16px;
    option {
      font-size: 1.2em;
      background-color: var(--color-formelement-bg-1);
    }
  }
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
  position: relative;
  label {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    font-size: 1rem;
    top: 0;
    left: 0;
    color: #757575;
    display: inline-block;
    margin-bottom: -0.5rem;
    transition: transform 0.2s ease-out, color 0.2s ease-out,
      -webkit-transform 0.2s ease-out;
    transform-origin: 0 100%;
    padding: 10px 0;
    pointer-events: none;

    &.active {
      color: var(--color-foreground-3);
      font-size: 1rem;
      transform: translateY(-26px) scale(0.8);
      padding: 10px 0;
    }
  }

  select:focus + label.active {
    color: var(--color-primary-1);
  }
}
