.oak-dialog {
  display: flex;
  justify-content: center;
  justify-items: center;
  .dialog {
    // height: calc(100vh - var(--height-nav));
    height: 100vh;
    // width: calc(100vw - 362px - 50px);

    // &.fullscreen {
    //   width: calc(100vw - 25px);
    // }

    // @media (max-width: 767px) {
    //   width: calc(100vw - 5px);
    // }
    right: 0;
    // top: var(--height-nav);
    top: 0;
    background-color: var(--color-background-3);
    position: fixed;
    // box-shadow: 0 19px 38px var(--color-box-shadow), 0 15px 12px var(--color-box-shadow);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.24), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    // transition-property: width;
    // transition-duration: 0.3s;
    // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 10;
    &.show {
      width: calc(100vw - 362px - 50px);
      animation: slide-in 0.3s cubic-bezier(0, 1, 0.5, 1);
      &.fullscreen {
        width: 100vw;
        animation: slide-in-fullscreen 0.3s cubic-bezier(0, 1, 0.5, 1);
      }
      @media (max-width: 767px) {
        width: 100vw;
        animation: slide-in-fullscreen 0.3s cubic-bezier(0, 1, 0.5, 1);
      }
    }
    &.hide {
      width: calc(100vw - 362px - 50px);
      animation: slide-out 0.3s cubic-bezier(0, 1, 0.5, 1);
      &.fullscreen {
        width: 100vw;
        animation: slide-out-fullscreen 0.3s cubic-bezier(0, 1, 0.5, 1);
      }
      @media (max-width: 767px) {
        width: 100vw;
        animation: slide-out-fullscreen 0.3s cubic-bezier(0, 1, 0.5, 1);
      }
    }

    .container {
      display: grid;
      grid-template-rows: auto auto auto;
      .dialog-header {
        margin-right: 20px;
        margin-top: 4px;
        display: grid;
        align-items: center;
        justify-content: flex-end;
        .container {
          cursor: pointer;
          color: var(--color-foreground-2);
          &:hover {
            color: var(--color-foreground-1);
          }
          .material-icons {
            vertical-align: middle;
            margin-left: 5px;
            font-size: 1.6em;
          }
          .text-esc {
            vertical-align: middle;
            margin-left: 5px;
            font-size: 1.2em;
          }
        }
      }

      .dialog-body {
        // height: calc(100vh - var(--height-nav) - 135px);
        height: calc(100vh - 106px);
        overflow-y: auto;
        // padding: 0px 100px 0px 100px;
        padding: 0px 10px 0px 10px;
        @media (max-width: 767px) {
          padding: 0px 10px 0px 10px;
        }
      }

      .dialog-footer {
        border-top: 1px solid var(--color-background-5);
        background-color: var(--color-background-3);
        height: 50px;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        // &::before {
        //     position: fixed;
        //     display: inline-block;
        //     content: "";
        //     border-top: 2px solid var(--color-foreground-2);
        //     width: 90%;
        //     // margin: 0 1rem;
        //     // transform: translateY(-1rem);
        // }
      }

      // top: 100px;
      // display: grid;
      // height: inherit;
      // grid-template-rows: auto auto 1fr;
      &.hidetext {
        // display: none;
      }
    }

    // &.hide {
    //   width: 0vw;
    // }

    &.show {
      padding: 0px;
      // padding-left: 2vh;
      // padding-right: 2vh;
    }

    &.small {
      height: auto;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      .dialog-body {
        // height: calc(40vh - var(--height-nav) - 135px);
        height: auto;
        max-height: calc(100vh - 106px);
      }
    }

    &.noheader {
      .dialog-header {
        display: none;
      }
    }
  }
}

@keyframes slide-in-fullscreen {
  0% {
    width: 0%;
  }
  100% {
    width: 100vw;
  }
}
@keyframes slide-in {
  0% {
    width: 0%;
  }
  100% {
    width: calc(100vw - 362px - 50px);
  }
}

@keyframes slide-out-fullscreen {
  0% {
    width: 100vw;
  }
  100% {
    width: 0%;
  }
}
@keyframes slide-out {
  0% {
    width: calc(100vw - 362px - 50px);
  }
  100% {
    width: 0%;
  }
}
