.table-pagination {
  padding: 12px 0;
  .material-icons {
    font-size: 26px;
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }
  .table-pagination--filter {
    display: grid;
    // grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-start;
    @media (max-width: 767px) {
      display: none;
    }

    .table-pagination--filter--search {
      width: 90%;
      max-width: 500px;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      column-gap: 10px;
      .table-pagination--filter--search--action {
        display: grid;
        grid-auto-flow: column;
        column-gap: 10px;
        align-items: center;
      }
    }
  }
}
