input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 16px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  line-height: 24px;
  background-color: #ededed;
  border: 1px solid #ededed;
  border-radius: 8px;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

// input,
// input:focus,
// input:active {
//   box-shadow: none;
//   outline: none;
// }
// input:hover {
//   background-color: transparent;
//   border: 1px solid #8d8d8d;
// }
// input:focus,
// input:active {
//   background-color: transparent;
//   //   background-color: #e2e2e2;
//   border: 1px solid #8d8d8d;
//   border: 1px solid var(--color-primary);
//   //   border: 1px solid #000000;
// }

.form-input--variant-fixed-light {
  background-color: #fff;
}
.form-input--variant-fixed-light:focus,
.form-input--variant-fixed-light:hover,
.form-input--variant-fixed-light:active {
  background-color: #fff;
}

.form-input--radius-none {
  border-radius: 0px;
}
.form-input--radius-small {
  border-radius: 4px;
}
.form-input--radius-medium {
  border-radius: 8px;
}
.form-input--radius-large {
  border-radius: 50px;
}
