// button {
//   width: 100%;
//   margin: 0px;
//   height: 40px;
//   font-size: 16px;
//   font-weight: 600;
//   font-family: Roboto, sans-serif;
//   cursor: pointer;
//   box-shadow: none;
//   border: 2px solid var(--color-primary);
//   background-color: var(--color-primary);
//   color: var(--color-primary-i);
//   border-radius: 8px;
//   @media (max-width: 767px) {
//     height: 40px !important;
//   }
//   transition: background-color 250ms ease-in-out;
// }

// button:hover,
// button:focus,
// button:active {
//   // border: 2px solid var(--color-primary-darkest);
//   border: 2px solid var(--color-primary-darker);
//   background-color: var(--color-primary-darker);
//   color: var(--color-primary-darker-i);
//   box-shadow: none;
//   outline: none;
// }

// .form-button--radius-none {
//   border-radius: 0px;
// }
// .form-button--radius-small {
//   border-radius: 4px;
// }
// .form-button--radius-medium {
//   border-radius: 8px;
// }
// .form-button--radius-large {
//   border-radius: 50px;
// }
