.login {
  color: #0c0c0c;
  .form-signup,
  .form-signin,
  .form-reset {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    margin-top: 20px;

    &.message {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // input {
    //   // padding: 0 40px 0 10px;
    //   background-color: white;
    //   color: black;
    //   border-radius: 4px;
    //   border: 3px solid transparent;
    //   // border: none;
    //   height: 50px;
    //   @media (max-width: 767px) {
    //     height: 40px;
    //   }

    //   &:focus {
    //     border: 3px solid var(--theme-primary-500);
    //   }
    // }

    .label {
      cursor: default;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      font-size: 0.8em;
      margin-bottom: 6px;

      .forgot-password-link {
        color: var(--theme-primary-500);
        cursor: pointer;
      }

      .label-text {
      }
      .error-text {
        display: flex;
        align-items: center;
        color: var(--color-warning);
      }
      .link {
        color: var(--theme-primary-500);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    label {
      // font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-family: 'Open Sans', sans-serif;
      display: block;
      font-size: 0.8em;
      position: relative;
      left: 10px;
      margin-bottom: 6px;
      color: var(--color-1);
    }
  }

  .social-signin {
    display: flex;
    justify-content: center;
    .social-signin-container {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      column-gap: 10px;
      .social-google,
      .social-facebook {
        user-select: none;
        display: flex;
        button {
          display: flex;
          align-items: center;
          outline: none;
          background-color: #30323d !important;
          // border: 1.2px solid #53575d !important;
          border: none !important;
          // color: #53575d !important;
          color: #f0f0f0 !important;
          width: auto;
          padding: 0 10px !important;
          border-radius: 4px !important;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
            rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
          font-family: Roboto, sans-serif;
          font-size: 16px;
          height: 36px !important;
          &:hover {
            // border: 1.2px solid #f0f0f0 !important;
            // color: #f0f0f0 !important;
            background-color: #444750 !important;
          }
        }
      }
      .social-google {
        justify-content: flex-end;
        div {
          background-color: transparent !important;
          display: flex;
          padding: 0 !important;
          margin: 0 !important;
          margin-right: 10px !important;
        }
        span {
          padding: 0 !important;
          font-size: 16px;
        }
      }
      .social-facebook {
        button {
          text-transform: capitalize;
          font-weight: 500;
          // padding: 10px 0px !important;
          .fa {
            // padding: 10px;
            margin-right: 10px !important;
            color: #6b86c8;
            font-size: 26px;
          }
        }
      }
    }
  }

  .action {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  // button {
  //   width: 100%;
  //   margin: 0px;
  //   height: 50px !important;
  //   font-size: 16px;
  //   @media (max-width: 767px) {
  //     height: 40px !important;
  //   }
  // }

  .hr {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    font-size: 13px;
    opacity: 0.4;
    letter-spacing: 0.2px;
    color: #0f0f0f;
    &::before {
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      background-color: #101010;
      right: 0.5em;
      margin-left: -50%;
    }
    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      background-color: #101010;
      left: 0.5em;
      margin-right: -50%;
    }
  }

  .button-link {
    display: flex;
    justify-content: center;
    .link {
      // height: 20px;
      // line-height: 20px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      cursor: pointer;
      color: var(--theme-primary-500) !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.verify-session {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.login-notification {
  .record {
    display: grid;
    grid-auto-flow: column;
    column-gap: 4px;
    align-items: center;
    justify-content: center;
  }

  .record-prominent {
    display: grid;
    grid-auto-flow: row;
    row-gap: 4px;
    justify-items: center;
    text-align: center;
  }
}

.login-form-hyperlink,
.login-form-hyperlink:hover,
.login-form-hyperlink:focus,
.login-form-hyperlink:active {
  color: #4ebbcc;
  border-color: #4ebbcc;
}

.login-form-hyperlink:hover,
.login-form-hyperlink:focus,
.login-form-hyperlink:active {
  color: #2e8f9e;
  border-color: #2e8f9e;
  // border-bottom: 1px solid;
}

.login-form-label-text-light {
  color: #fcfcfc;
}
.login-form-label-text-dark {
  color: #0d0d0d;
}

.login-form-static-text-light {
  color: #fcfcfc;
}
.login-form-static-text-dark {
  color: #0d0d0d;
}
