.elements-demo {
  margin-top: calc(var(--oak-app-layout-topbar-height) + 50px);
}

.test-header {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-secondary);
  color: var(--color-secondary-i);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.custom-section-side {
  padding: 20px;
  background-color: var(--color-float);
  color: var(--color-float-i);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
