.app-page {
    height: 100vh;
    // CHANGETBD uncomment below two lines
    // background: url('../../images/1.svg') no-repeat center center;
    // background-size: cover;

    display: grid;
    grid-template-rows: auto 1fr;

    .app-container {
        height: 100%;
        overflow: auto;
        .home {
            width: 80vw;
            margin: 20px auto;

            display: flex;
            flex-direction: column;
        }
    }
}

.popover-test {
    display: flex;
}

.tab-test {
    background-color: var(--color-background-2);
    padding: 0 20px 20px 20px;
    margin-top: 20px;
}