.app-page {
    height: 100vh;
    // CHANGETBD uncomment below two lines
    // background: url('../../images/1.svg') no-repeat center center;
    // background-size: cover;

    display: grid;
    grid-template-rows: auto 1fr;

    .app-container {
        height: 100%;
        overflow: auto;
        .home {
            width: 80vw;
            margin: 20px auto;

            display: flex;
            flex-direction: column;
        }
    }
}

.popover-test {
    display: flex;
}

.tab-test {
    background-color: var(--color-background-2);
    padding: 0 20px 20px 20px;
    margin-top: 20px;
}

.space-display {
    
    .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;

        border: transparent solid #e7e7e7;
        border-radius: 4px;
        padding: .5rem;
        }
    
    @media (max-width: 767px) {
        padding: 5px 16px !important;
    }
        
}

.popover-test {
    display: flex;
}