.edit-client {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}
.edit-client__overview,
.edit-client__security {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-start;
}
.edit-client__security__jwt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  align-items: flex-start;
}
