.edit-space {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}
.edit-space__overview,
.edit-space__security {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-end;
}
.edit-space__security__jwt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  align-items: flex-end;
}
