.oak-editor {
  display: grid;
  grid-auto-flow: row;
  // row-gap: 4px;
}

.oak-editor__new-block {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.ql-tooltip {
  z-index: 1;
}

.ql-snow .ql-editor {
  min-height: 200px;
}
.ql-snow .ql-syntax {
  border-radius: 4px;
  padding: 4px;
  background-color: var(--color-background-transparent-5);
}

blockquote {
  background-color: var(--color-background-transparent-5);
}

.ql-snow .ql-formats {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 0 !important;
}

.ql-snow .ql-formats > * {
  margin-right: 4px;
  margin-left: 0px;
  margin-bottom: 12px;
  @media (max-width: 767px) {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

.ql-toolbar.ql-snow {
  border: none;
  color: var(--color-1);
  padding: 0px;
  display: flex;
  justify-content: center;
}
.ql-container.ql-snow {
  border: none;
  border-bottom: 1px solid var(--color-1);
}
.ql-snow .ql-editor {
  padding: 10px 0;
  font-size: 16px;
}
.ql-snow .ql-stroke {
  stroke: var(--color-3);
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--color-3);
}
.ql-snow .ql-picker-label {
  color: var(--color-3);
  &:hover {
    color: green;
  }
}
.ql-snow .ql-strike.ql-active {
  // border: 1px solid var(--color-3);
  background-color: var(--color-global-darker);
  color: var(--color-global-darker-i);
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background-color: var(--color-global-darker);
  color: var(--color-global-darker-i);
  .ql-picker-item {
    &:hover {
      color: var(--color-primary) !important;
    }
  }
}

.ql-snow .ql-formats {
  button {
    height: auto !important;
    width: auto !important;
    &:hover {
      background-color: var(--color-global-darker) !important;
      border-radius: 2px;
    }
  }
  .ql-picker-label,
  .ql-picker {
    // height: auto !important;
    // width: auto !important;
  }
  svg {
    height: 20px !important;
  }
  .ql-active {
    // border: 1px solid var(--color-primary-1) !important;
    border-radius: 2px;
    background-color: var(--color-global-dark) !important;
    &:hover {
      background-color: var(--color-global-dark) !important;
    }
    color: var(--color-1) !important;
    .ql-fill {
      fill: var(--color-3) !important;
    }
    .ql-stroke {
      stroke: var(--color-3) !important;
    }
  }
  &:hover {
    .ql-fill {
      fill: var(--color-3) !important;
    }
    .ql-stroke {
      stroke: var(--color-1) !important;
    }
  }
}
