.search-result-item {
  display: grid;
  grid-auto-flow: row;
  justify-content: flex-start;
  justify-items: flex-start;
  row-gap: 6px;
}

.search-result-item a {
  font-size: inherit;
}

.search-result-item__title,
.search-result-item__note-type {
  display: inline;
}
.search-result-item__note-type {
  margin-right: 4px;
}

.search-result-item__date {
  font-size: 12px;
  color: var(--basicui-formelement-label-color);
}
