.binary-choice-input {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
}

.binary-choice-input__action {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-content: center;
}

.binary-choice-input__text {
  // font-weight: 600;
  font-size: 14px;
}

.binary-choice-input__action__button {
  padding: 0 10px;
  border-radius: 4px;
  font-size: 14px;
}
.dark .binary-choice-input__action__button--active {
  background-color: #ffffff20;
}
.light .binary-choice-input__action__button--active {
  background-color: #00000020;
}
