.filter-group {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
}

.filter-group__list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.filter-group__new button {
  background-color: var(--color-primary-100);
  color: var(--color-primary-i);
  padding: 4px 12px;
  border-radius: 4px;
}
.filter-group__new button:hover,
.filter-group__new button:focus {
  background-color: var(--color-primary-200);
}

.filter-group__new {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
}
