.filter-group {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
}

.filter-group__list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.filter-group-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 10px;
  align-content: center;
  align-items: center;
}

.filter-group-item__color {
  background-color: inherit;
}
