.nav-group {
  user-select: none;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    display: flex;
    align-items: center;
    word-break: break-all;
    transition: background-color 20ms ease-in-out;
    &.nav-group--headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 10px 8px 15px;
      font-size: 14px;
      .material-icons {
        display: flex;
        font-size: 1.4em;
        transition: transform 250ms ease-in-out;
      }
      color: var(--color-sidebar-text);
      background-color: var(--color-sidebar);
      &.expanded {
        background-color: var(--color-sidebar-submenu);
        color: var(--color-sidebar-submenu-text);
        .material-icons {
          transform: rotate(90deg);
        }
      }
      &:hover {
        background-color: var(--color-sidebar-hover);
        color: var(--color-sidebar-hover-text);
      }
      &.active {
        background-color: var(--color-sidebar-active);
        background-color: var(--color-sidebar-active-text);
      }
    }
  }

  .nav-group--container {
    transition: max-height 250ms ease-in-out;
    display: grid;
    grid-auto-flow: row;
    overflow: hidden;

    a {
      text-decoration: none;
      background-color: var(--color-sidebar-submenu);
      color: var(--color-sidebar-submenu-text);
      padding: 8px 10px 8px 24px;
      // min-height: 28px;
      // line-height: 28px;
      font-size: 12px;
      display: inline-block;
      display: flex;
      align-items: center;
      word-break: break-all;
      // width: 100%;
      transition: background-color 20ms ease-in-out;
      &:hover {
        background-color: var(--color-sidebar-submenu-hover);
        color: var(--color-sidebar-submenu-hover-text);
      }
      &.active {
        background-color: var(--color-sidebar-submenu-active);
        color: var(--color-sidebar-submenu-active-text);
      }
    }
  }
}
