@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html body *{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: var(--theme-adaptive-50);
    color: var(--theme-adaptive-50i);
}