@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat|Lato|Open+Sans|Open+Sans+Condensed:300&display=swap');

* {
  margin: 0;
  padding: 0;

  --color-tag-1: #904e55;
  --color-tag-2: #e26d5c;
  --color-tag-3: #b68cb8;
  --color-tag-4: #0a81d1;
  --color-tag-5: #537a5a;
  --color-tag-6: #0c8346;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .MuiInputBase-root,
  .MuiTypography-root {
    color: var(--color-foreground-1);
  }
  .MuiInputLabel-root {
    color: var(--color-foreground-2);
  }
  // overflow-y: overlay;
}

body.oak-dialog-open {
  // height: 100vh;
  overflow-y: hidden;
  padding-right: var(--scrollbar-width);
}

.body {
  font-family: 'Lato', sans-serif;
  background-color: var(--color-background-1);
  color: var(--color-foreground-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// 34ba9b
// f68c70

:root {
  --color-pick: #4b5db3;
  // --color-pick: #7A93DC;
  --height-nav: 50px;

  --color-themecolor-1: #69a7bf;
  --color-themecolor-2: #99587b;
  --color-themecolor-3: #a66c26;
  --color-themecolor-4: #37ae82;

  .themecolor1 {
    --color-dark-palette-1: rgba(1,169,130,.9);
    --color-dark-palette-1-alt: rgba(1,169,130,1);
    --color-dark-palette-2: #69a7bf;
    --color-dark-palette-3: #376b8c;
    --color-dark-palette-3-trans: rgba(55, 107, 140, 0.2);
    --color-light-palette-1: #376b8c;
    --color-light-palette-2: #69a7bf;
    --color-light-palette-3: #91ccd9;
    --color-light-palette-3-trans: rgba(145, 204, 217, 0.2);
  }

  .themecolor2 {
    --color-dark-palette-1: #ba7799;
    --color-dark-palette-2: #99587b;
    --color-dark-palette-3: #753959;
    --color-dark-palette-3-trans: rgba(117, 57, 89, 0.2);
    --color-light-palette-1: #753959;
    --color-light-palette-2: #99587b;
    --color-light-palette-3: #ba7799;
    --color-light-palette-3-trans: rgba(186, 119, 153, 0.2);
  }

  .themecolor3 {
    --color-dark-palette-1: #d99e30;
    --color-dark-palette-2: #a66c26;
    --color-dark-palette-3: #734822;
    --color-dark-palette-3-trans: rgba(115, 72, 34, 0.2);
    --color-light-palette-1: #734822;
    --color-light-palette-2: #a66c26;
    --color-light-palette-3: #d99e30;
    --color-light-palette-3-trans: rgba(217, 158, 48, 0.2);
  }

  .themecolor4 {
    --color-dark-palette-1: #82d9b0;
    --color-dark-palette-2: #37ae82;
    --color-dark-palette-3: #1e8861;
    --color-dark-palette-3-trans: rgba(30, 136, 97, 0.1);
    --color-light-palette-1: #1e8861;
    --color-light-palette-2: #37ae82;
    --color-light-palette-3: #82d9b0;
    --color-light-palette-3-trans: rgba(130, 217, 176, 0.1);
  }

  .theme_dark {
    --color-background-1: #222831;
    --color-background-2: #363b43;
    --color-foreground-1: #fcfcfc;
    --color-foreground-2: #a1a1a1;
    --color-palette-1: var(--color-dark-palette-1);
    --color-palette-1-alt: var(--color-dark-palette-1-alt);
    --color-palette-2: var(--color-dark-palette-2);
    --color-palette-3: var(--color-dark-palette-3);
    --color-palette-3-trans: var(--color-dark-palette-3-trans);
    --color-palette-0: rgba(217, 217, 217, 1);
    --color-selected: rgba(217, 217, 217, 1);
    --color-hover: rgba(217, 217, 217, 0.2);
    --color-success: #437a34;
    --color-warning: #49a078;
    --color-failure: #8c030e;

    --color-sidebar-header: #444444;
    --color-sidebar-header-active: var(--color-palette-3-trans);
    --color-sidebar-element: #2d2d2d;
    --color-sidebar-fg-hover: rgba(255, 255, 255, 1);
    --color-sidebar-fg: rgba(255, 255, 255, 0.7);

    --color-nav: #2a3036;
    --color-nav-shadow: rgba(252, 252, 252, 0.15);
    --color-nav-text: var(--color-foreground-1);
    --color-nav-hover: rgba(239, 91, 91, 0.1);
    --color-nav-active: var(--color-palette-1);
    --color-nav-slider: var(--color-background-1);
    --color-navitem-mobile: var(--color-foreground-1);

    --color-btn-bg-palette-1: var(--color-palette-1);
    --color-btn-bg-palette-1-hover: var(--color-palette-1-alt);
    --color-btn-fg-palette-1: var(--color-foreground-1);
    --color-btn-fg-palette-1-hover: black;
    --color-btn-bg-palette-2: var(--color-palette-2);
    --color-btn-fg-palette-2: var(--color-foreground-1);
    --color-btn-fg-palette-2-hover: black;
    --color-btn-bg-palette-3: var(--color-palette-3);
    --color-btn-fg-palette-3: var(--color-foreground-1);
    --color-btn-fg-palette-3-hover: black;
    --color-btn-bg-palette-0: var(--color-palette-0);
    --color-btn-fg-palette-0: var(--color-foreground-1);
    --color-btn-fg-palette-0-hover: black;

    --color-btn-action-danger-bg: #dc758f;

    --color-dialog: var(--color-nav);

    --color-tag: #404040;
    --color-box-shadow: rgba(255, 255, 255, 0.2);
  }

  .theme_light {
    --color-background-1: #fcfcfc;
    --color-background-2: #e6e6e6;
    --color-foreground-1: #252525;
    --color-foreground-2: #6e6e6e;
    --color-palette-1: var(--color-light-palette-1);
    --color-palette-2: var(--color-light-palette-2);
    --color-palette-3: var(--color-light-palette-3);
    --color-palette-3-trans: var(--color-light-palette-3-trans);
    --color-palette-0: rgba(64, 64, 64, 1);
    --color-selected: rgba(64, 64, 64, 1);
    --color-hover: rgba(64, 64, 64, 0.2);
    --color-success: #437a34;
    --color-warning: #49a078;
    --color-failure: #8c030e;

    --color-sidebar-header: #e6e6e6;
    --color-sidebar-header-active: var(--color-palette-3-trans);
    --color-sidebar-element: var(--color-background-1);
    --color-sidebar-fg-hover: rgba(0, 0, 0, 1);
    --color-sidebar-fg: rgba(0, 0, 0, 0.7);

    --color-nav: #ececec;
    --color-nav-shadow: rgba(0, 0, 0, 0.15);
    --color-nav-text: var(--color-foreground-1);
    --color-nav-hover: rgba(239, 91, 91, 0.1);
    --color-nav-active: var(--color-palette-1);
    --color-nav-slider: var(--color-background-1);
    --color-navitem-mobile: var(--color-foreground-1);

    --color-btn-bg-palette-1: var(--color-palette-1);
    --color-btn-fg-palette-1: var(--color-foreground-1);
    --color-btn-fg-palette-1-hover: white;
    --color-btn-bg-palette-2: var(--color-palette-2);
    --color-btn-fg-palette-2: var(--color-foreground-1);
    --color-btn-fg-palette-2-hover: white;
    --color-btn-bg-palette-3: var(--color-palette-3);
    --color-btn-fg-palette-3: var(--color-foreground-1);
    --color-btn-fg-palette-3-hover: white;
    --color-btn-bg-palette-0: var(--color-palette-0);
    --color-btn-fg-palette-0: var(--color-foreground-1);
    --color-btn-fg-palette-0-hover: white;

    --color-btn-action-danger-bg: #b33951;

    --color-dialog: var(--color-background-1);

    --color-tag: #e6e6e6;
    --color-box-shadow: rgba(0, 0, 0, 0.3);
  }
}

// /* Color Theme Swatches in Hex */
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-1-hex { color: #0F2F59; }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-2-hex { color: #1F4C73; }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-3-hex { color: #3A6D8C; }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-4-hex { color: #75AABF; }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-5-hex { color: #9CD3D9; }

// /* Color Theme Swatches in RGBA */
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-1-rgba { color: rgba(15, 47, 89, 1); }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-2-rgba { color: rgba(30, 75, 114, 1); }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-3-rgba { color: rgba(57, 108, 140, 1); }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-4-rgba { color: rgba(116, 170, 191, 1); }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-5-rgba { color: rgba(156, 210, 216, 1); }

// /* Color Theme Swatches in HSLA */
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-1-hsla { color: hsla(213, 70, 20, 1); }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-2-hsla { color: hsla(208, 57, 28, 1); }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-3-hsla { color: hsla(202, 41, 38, 1); }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-4-hsla { color: hsla(196, 36, 60, 1); }
// .Vintage-blue-background.-Rough-painted-wall-of-sapphire-color.-Imperfect-plane-of-blue-colored.-Uneven-old-decorative-toned-backdrop-of-cyan-tint.-Texture-of-sapphirine-hue.-Ornamental-stony-surface.-5-hsla { color: hsla(185, 44, 73, 1); }
