.list-income {
  //   padding: 20px;
  // padding: 20px 20px;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.list-income__action {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  background-color: var(--color-surface);
}

.list-income__action__left,
.list-income__action__right {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.list-income__column {
  // min-width: 150px !important;
}
.list-income__column--selection {
  width: 50px !important;
  min-width: 50px !important;
}

.list-income__column--kakeibo {
  min-width: auto !important;
}

.list-income__column--description {
  max-width: 400px !important;
}

.load-more {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.load-more__button {
  font-size: 14px;
  border: 1px solid var(--color-float-darkest);
  padding: 10px 40px;
  &:hover,
  &:focus {
    border-color: var(--color-default);
  }
}
