.tag-chip {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  column-gap: 10px;
  color: inherit;
  // border: 1px solid var(--color-default);
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 6px 16px;

  background-color: var(--tag-background-color);
  &:hover,
  &:focus {
    background-color: var(--tag-background-color-hover);
  }
}

.tag-chip--active {
  background-color: var(--color-default);
  color: var(--color-default-i);
  &:hover,
  &:focus {
    background-color: var(--color-default);
    color: var(--color-default-i);
  }
}
