@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat|Lato|Open+Sans|Open+Sans+Condensed:300|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import '../../node_modules/@oakui/core-stage/style/index.css';

@import './custom/theme.scss';
@import './custom/border.scss';
@import './custom/box-shadow.scss';
@import './custom/outline.scss';
@import './custom/topbar.scss';
@import './custom/sidebar.scss';
@import './custom/toolbar.scss';
@import './custom/form-element.scss';
@import './custom/table.scss';
@import './custom/menu.scss';
@import './custom/padding.scss';
@import './custom/typography.css';
@import './custom/oak-app-layout.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow-y: overlay;
}

body.oak-dialog-open {
  // height: 100vh;
  overflow-y: hidden;
  padding-right: var(--scrollbar-width);
}

.App {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--color-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  .section-close {
    // margin: auto;
    margin-top: 20px;
    background-color: var(--color-1);
    height: 1px;
    width: 80%;
    border-radius: 4px;
    opacity: 0.2;
  }

  .align-vertical {
    display: flex;
    flex-direction: column;
  }

  .align-horizontal {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section-header,
  .page-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .user-form {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
  }

  .hyperlink-container {
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }

  .hyperlink-inline {
    .hyperlink {
      display: inline;
    }
  }

  .hyperlink {
    cursor: pointer;
    user-select: none;
    color: var(--color-primary);
    &:hover {
      text-decoration: underline;
    }
  }

  .hyperlink-drama {
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }

  .action-footer,
  .action-header {
    // height: 60px;
    // display: grid;
    // grid-auto-flow: column;
    // justify-content: center;
    // align-items: center;
    // column-gap: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    > * {
      margin: 5px 10px;
    }

    &.position-right {
      justify-content: flex-end;
    }

    &.position-between {
      justify-content: space-between;
    }

    &.position-center {
      justify-content: center;
    }

    &.position-left {
      justify-content: flex-start;
    }
  }

  .mobile-only {
    @media (min-width: 768px) {
      display: none !important;
    }
  }
  .desktop-only {
    @media (max-width: 767px) {
      display: none !important;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
