* {
  --reach-font-family: 'Roboto', sans-serif;
  --reach-color-primary: var(--color-primary);
  --reach-color-primary-i: var(--color-primary-i);
  --reach-color-primary-dark: var(--color-primary-darker);
  --reach-color-primary-dark-i: var(--color-primary-darker-i);
  --reach-color-secondary: var(--color-secondary);
  --reach-color-secondary-i: var(--color-secondary-i);
  --reach-color-secondary-dark: var(--color-secondary-darker);
  --reach-color-secondary-dark-i: var(--color-secondary-darker-i);
}
